@page
@using Microsoft.CodeAnalysis.CSharp
@model WebApp.Pages.Game.LoadGame
@{
    ViewData["Title"] = "Game - Load Game";
}
<h3>Please input the config id you want to use:</h3><br/>
<form method="get" action="../Game" class="text-center">
    <!-- Making a dropdown could be not the best idea for big games, but I assume there will be not many game saves. -->
    <div class="col-auto my-1">
        IDs to pick from:
        <select name="gameId">
            @foreach (var item in Model.GameSave)
            {
                <option value="@item.SavedGameId">@item.SavedGameId</option>
            }
        </select>
        <br/><br/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<br/>
<h3>Here you can see all your saved configs:</h3>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameSave[0].SavedGameId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameSave[0].GameSaveDate)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GameSave) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SavedGameId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameSaveDate)
            </td>
        </tr>
    }
    </tbody>
</table>