@page
@model WebApp.Pages.Game.Play
@{
    ViewData["Title"] = "Game - Play";
}
@{
    int currentPlayerNo = @Index._brain._currentPlayerNo + 1;
    int counter = 1;
}
<h2>Player No. @currentPlayerNo turn.</h2><br/><br/>
<div class="row">
    <div class="col">
        <h2 class="text-center">Enemies board</h2>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                @for (int x = 0; x < Index._brain.GetEnemyBoard().GetLength(0); x++)
                {
                    <th scope="col">
                        @Model.letters[x % 26]
                    </th>
                }
            </tr>
            </thead>
            <tbody>
            @for (int y = 0; y < Index._brain.GetEnemyBoard().GetLength(1); y++)
            {
                <tr style="height: 50px; width: 50px;">
                    <th class="bg-dark text-light" style="border: 1px solid #454d55" scope="row">@y</th>
                    @for (int x = 0; x < Index._brain.GetEnemyBoard().GetLength(0); x++)
                    {
                        <td style="height: 50px; width: 50px; cursor: pointer" onclick="window.location.href = '/Game/Play?cellId=@counter' ">
                            <!-- onclick="window.location.href = window.location.href + '&cellId=' -->
                            @if (Index._brain.GetEnemyBoard()[x, y].IsBomb)
                            {
                                if (Index._brain.GetEnemyBoard()[x, y].IsShip)
                                {
                                    <text>X</text>
                                }
                                else
                                {
                                    <text>-</text>
                                }
                            }
                            else
                            {
                                <text> </text>
                            }
                        </td>
                        counter++;
                    }
                </tr>
            }
            </tbody>
        </table>
   </div>
    
    <div class="col">
        <h2 class="text-center">Your board</h2>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                @for (int x = 0; x < Index._brain.GetUserBoard().GetLength(0); x++)
                {
                    <th scope="col">
                        @Model.letters[x % 26]
                    </th>
                }
            </tr>
            </thead>
            <tbody>
            @for (int y = 0; y < Index._brain.GetUserBoard().GetLength(1); y++)
            {
                <tr style="height: 50px; width: 50px;">
                    <th class="bg-dark text-light" style="border: 1px solid #454d55" scope="row">@y</th>
                    @for (int x = 0; x < Index._brain.GetUserBoard().GetLength(0); x++)
                    {
                        <td style="height: 50px; width: 50px;">
                            @if (Index._brain.GetUserBoard()[x, y].IsShip)
                            {
                                if (Index._brain.GetUserBoard()[x, y].IsBomb)
                                {
                                    <text>X</text>
                                }
                                else
                                {
                                    <text>8</text>
                                }
                            }
                            else if (Index._brain.GetUserBoard()[x, y].IsBomb)
                            {
                                if (!Index._brain.GetUserBoard()[x, y].IsShip)
                                {
                                    <text>-</text>
                                }
                            }
                            else
                            {
                                <text> </text>
                            }
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<br/><br/>
<button class="btn btn-primary" onclick="location.href='?quit=1'">Save and Exit</button> 
<button class="btn btn-primary" onclick="location.href='?quit=2'">Exit without Save</button> 
