@page
@model WebApp.Pages.Game.SetShips
@{
    ViewData["Title"] = "Game - Set Ships";
    int currentPlayerNo = @Model.Brain.CurrentPlayerNo + 1;
    bool moreShipToPlace = false;
}

<h1>Current player: @currentPlayerNo</h1><br/><br/>
@if (@Model.WrongLocation)
{
    <h4 class="text-center" style="color: red">Please choose the correct location</h4>
}
@if (@Model.WrongShip)
{
    <h4 class="text-center" style="color: red">Please choose the correct ship</h4>
}
@{
    if (@Model.ShipIdSelect == false)
    {
        <div class="row text-center">
            <div class="col">
                <h2 class="text-center">Your current board</h2>

                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th style="height: 50px; width: 50px;">#</th>
                        @for (int x = 0; x < @Model.Brain.GetUserBoard().GetLength(0); x++)
                        {
                            <th>
                                @Model.Letters[x % 26]
                            </th>
                        }
                    </tr>
                    </thead>
                    <tbody>
                    @for (int y = 0; y < @Model.Brain.GetUserBoard().GetLength(1); y++)
                    {
                        <tr style="height: 50px; width: 50px;">
                            <th class="bg-dark text-light" style="border: 1px solid #454d55" scope="row">@y</th>
                            @for (int x = 0; x < @Model.Brain.GetUserBoard().GetLength(0); x++)
                            {
                                <td style="height: 50px; width: 50px;">
                                    @if (@Model.Brain.GetUserBoard()[x, y].IsShip)
                                    {
                                       <text>8</text>
                                    }
                                    else
                                    {
                                        <text> </text>
                                    }
                                </td>
                            }
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

            <div class="col">
                <h2>Available ships:</h2>
                <table class="table-bordered div-center">
                    <thead>
                    <tr class="bg-dark text-light">
                        <th style="height: 50px; width: 100px;">Ship Name</th>
                        <th style="height: 50px; width: 100px;">Ship size X</th>
                        <th style="height: 50px; width: 100px;">Ship size Y</th>
                        <th style="height: 50px; width: 100px;">Left Quantity</th>
                        <th style="height: 50px; width: 100px;">Settings</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (int i = 0; i < Model.config.ShipConfigs.Count; i++)
                    {
                        <tr style="height: 70px; width: 70px;">
                            <td>@Model.config.ShipConfigs[i].Name</td>
                            <td>@Model.config.ShipConfigs[i].ShipSizeX</td>
                            <td>@Model.config.ShipConfigs[i].ShipSizeY</td>
                            <td>@Model.config.ShipConfigs[i].Quantity</td>
                            @if (Model.config.ShipConfigs[i].Quantity > 0)
                            {
                                moreShipToPlace = true;
                                var text = "?shipName=" + @Model.config.ShipConfigs[i].Name + "&confId=" + @Model.Conf.ConfigId + "&gameId=" + @Model.GameId + "&player=" + @Model.Brain.CurrentPlayerNo; 
                                <td><a href="@text">Add ship</a></td>
                            }
                            @if (Model.config.ShipConfigs[i].Quantity <= 0)
                            {
                                <td><a color="grey">All placed</a></td>
                            }
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <button class="btn btn-primary" onclick="location.href='?randomShipPlacement=true&confId=' + @Model.Conf.ConfigId + '&gameId=' + @Model.GameId">Random Ship Placement</button>
    @if (moreShipToPlace)
    {
            <br/>
            <br/>
            if (currentPlayerNo == 1)
            {
                <button class="btn btn-primary" onclick="location.href='?player=1&confId=' + @Model.Conf.ConfigId + '&gameId=' + @Model.GameId">Change Player</button>
            }
            if (currentPlayerNo == 2)
            {
                <button class="btn btn-primary" onclick="location.href='?ready=true&confId=' + @Model.Conf.ConfigId + '&gameId=' + @Model.GameId">Start Game</button>   
            }
        }
    }
    else
   {
        int counter = 1;
        <div class="row text-center">
            <div class="col">
                <h2>Please choose place:</h2>
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr style="height: 50px; width: 50px;">
                        <th scope="col">#</th>
                        @for (int x = 0; x < @Model.Brain.GetUserBoard().GetLength(0); x++)
                        {
                            <th scope="col">
                                @Model.Letters[x % 26]
                            </th>
                        }
                    </tr>
                    </thead>
                    <tbody>
                    @for (int y = 0; y < @Model.Brain.GetUserBoard().GetLength(1); y++)
                    {
                        <tr style="height: 50px; width: 50px;">
                            <th class="bg-dark text-light" style="border: 1px solid #454d55" scope="row">@y</th>
                            @for (int x = 0; x < Model.Brain.GetUserBoard().GetLength(0); x++)
                            {
                                <td style="height: 50px; width: 50px; cursor: pointer" onclick="window.location.href += '&cellId=@counter' + '&confId=' + @Model.Conf.ConfigId + '&gameId=' + @Model.GameId + '&player=' + @Model.Brain.CurrentPlayerNo" onmouseover="this.style.backgroundColor='red'" onmouseout="this.style.backgroundColor='white'">
                                    @if (@Model.Brain.GetUserBoard()[x, y].IsShip)
                                    {
                                        <text>8</text>
                                    }
                                    else
                                    {
                                        <text> </text>
                                    }
                                </td>
                                counter++;
                            }
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h2>Available ships:</h2>
                <table class="table-bordered div-center">
                    <thead>
                    <tr class="bg-dark text-light">
                        <th style="height: 50px; width: 100px;">Ship Name</th>
                        <th style="height: 50px; width: 100px;">Ship size X</th>
                        <th style="height: 50px; width: 100px;">Ship size Y</th>
                        <th style="height: 50px; width: 100px;">Left Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (int i = 0; i < Model.config.ShipConfigs.Count; i++)
                    {
                        <tr style="height: 50px; width: 50px;">
                            <td>@Model.config.ShipConfigs[i].Name</td>
                            <td>@Model.config.ShipConfigs[i].Quantity</td>
                            <td>@Model.config.ShipConfigs[i].ShipSizeX</td>
                            <td>@Model.config.ShipConfigs[i].ShipSizeY</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    }
}